header {
    background-color: #4e4e4e;
    color: #fff8db;
}

article > aside {
    background-color: #fff8db;
    color: #4e4e4e;
}

article > aside .menu .dd-item {
    font-size: 16px;
}

header .logo {
    font-size: 130%;
    font-weight: bold;
}

header::after {
    background: initial;
}

article section.page h1:first-of-type {
    text-transform: initial;
    font-family: "Roboto", sans-serif;
}

#navigation a {
    color: #707070;
}

article section.page img {
    display: initial;
}

footer a {
    text-decoration: underline;
}
